@model IEnumerable<RelevantGamesView>
@{ Layout = "_Layout"; ViewBag.Title = "All RelevantGames";}

<h2>All Relevant Games</h2>
<a asp-action="AddGame" class="btn btn-sm btn-primary">Add Game</a>
<a asp-action="GetGame" class="btn btn-sm btn-secondary">Get Game</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.ID</td>
                <td>@r.Title</td>
                <td>@r.Genre</td>
                <td>
                    <a asp-action="UpdateReservation" asp-route-id="@r.ID">
                        <img src="/icon/edit.png" />
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteReservation" method="post">
                        <input type="hidden" value="@r.ID" name="ReservationId" />
                        <input type="image" src="/icon/close.png" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>